{% import "AvanzuAdminThemeBundle:layout:macros.html.twig" as macro %}
<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Admin{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/dist/styles/admin.css">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    

    {%  block javascripts_head %}
        <script src="/src/bower_components/modernizr/modernizr.js"></script>
        <script src="/src/bower_components/jquery/dist/jquery.min.js"></script>
        {% if  app.environment == 'dev' %}
            {% include('::_js.html.twig') %}
        {% else %}
            {% include('::_js_combined.html.twig') %}
        {% endif %}
    {% endblock %}


</head>
<body class="login-page">
{% block content %}{% endblock %}
{# ----------------------------------------------------------------------------------------------- JAVASCRIPTS_INLINE #}
{% block javascripts_inline %}
{% endblock %}
</body>
</html>
